<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="appUrl" value="http://bing.com"/>
    <add key="browserType" value ="chrome"/>
    <add key="vstsPat" value ="-YourPAT-"/>
    <add key ="vstsUrl" value="https://-yourinstance-.visualstudio.com"/>
  </appSettings>
</configuration>